body,html{
  height:100%;
  }
  body{
  /* The image used */
  background-image: url("../img/test.jpg");
  /* Set a specific height */
  height:980px;
  /* Position and center the image to scale nicely on all screens */
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;

}
#music{
  margin-top: 50%;
  margin-left:-120%;
}
#gaming{
  margin-top: 50%;
  margin-right:-120%;
}

#marvel{
  margin-top: 50%;
  margin-left:-120%;
}
#entertainment{
  margin-top: 50%;
  margin-right:-120%;
}
#row2{
  margin-top: -4%;


}
.jumbotron {
    margin-bottom: 0px;
    height:0px;
    width: 550px;
    margin: auto;

    background-image: url(../img/mazerunner.jpg);
    background-position: 0% 58%;

    background-size: cover;
    background-repeat: no-repeat;
    color: yellow;
    text-shadow: black 0.9em 0.9em 0.9em;
}
#intro{
  margin-top: 26%;
  margin-left: 29%;

  border-radius: 25px;

    padding: 20px;
  /* border-top: 5px;
  border-left: 1px;
  border-width: 1px;
  border: 2px solid red;
  border-radius: 1px; */
  color: white;
  width:500px;
  height:170px;
  background-color: black;
font-size: 25px;
}
