#question2-0,
#question2-1,
#question2-2,
#question2-3 {
  display: none;
}
#question3-0,
#question3-1,
#question3-2,
#question3-3,
#question3-4,
#question3-5,
#question3-6,
#question3-7 {
  display: none;
}
#question4-0,
#question4-1,
#question4-2,
#question4-3,
#question4-4,
#question4-5,
#question4-6,
#question4-7,
#question4-8,
#question4-9,
#question4-10,
#question4-11,
#question4-12,
#question4-13,
#question4-14,
#question4-15,
#win {
  display: none;
}
body,html{
  height:100%;
}

body {
  background-image: url("../img/Tomorrowland-Belgium-Wallpaper-HD-27064.jpg");

  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-top: 0%;
  text-align: center;
}

.panel {
  background-color: black;
  color: white;
  font-size: 40px;
  border-radius: 25px;
  border: 2px;
  padding: 20px;
  background-color: rgba(0,0,0, 0.7);

}

.img {
  text-align: center;
}

button:hover {
  background: #00ff8c;
  color: black;
}
h4{
  font-size: 60px;
  font-style: normal;
}
#gif{
  height: 300px;
  width: 650px;
}



/* Media query for Oppo F5 Lite/Tecno Spark 2 */
@media only screen and (min-device-width : 720px){
  body{
    /* The image used */
    background-image: url("../img/entpixel2xl.jpg");
    /* Set a specific height */
    height:700px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}

/* Media query for Pixel 2 & 2XL */
@media only screen and (min-device-width : 411px) and (max-device-height : 823px) {
  body{
    /* The image used */
    background-image: url("../img/entpixel2xl.jpg");
    /* Set a specific height */
    height:700px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 35%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}



/* Media query for 15.4 inch screen */
@media only screen and (min-device-width : 1281px){
  body,html{
    height:100%;
    }
    body{
    /* The image used */
    background-image: url("../img/Tomorrowland-Belgium-Wallpaper-HD-27064.jpg");
    /* Set a specific height */
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: -50px;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}


/* Media query for My Screen inch screens  */
@media (min-device-width : 1451px) {
  body,html{
    height:100%;
    }
    body{
    /* The image used */
    background-image: url("../img/Tomorrowland-Belgium-Wallpaper-HD-27064.jpg");
    /* Set a specific height */
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: -35px;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }

}

/* Media query for iphone 6/7/8 */
@media only screen and (device-width : 375px) and (max-device-height : 667px) {
  body{
    /* The image used */
    background-image: url("../img/Tomorrowland-Belgium-Wallpaper-HD-27064.jpg");
    /* Set a specific height */
    height:700px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 25%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}


/* Media query for Galaxy S5 */
@media only screen and (device-width : 360px) and (max-device-height : 640px) {
  body{
    /* The image used */
    background-image: url("../img/ents5.jpg");
    /* Set a specific height */
    height:700px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 25%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}




/* Media query for iPhone 5*/
@media only screen and (device-width : 320px) and (max-device-height: 568px) {
  body{
    /* The image used */
    background-image: url("../img/entiphone5.jpg");
    /* Set a specific height */
    height:700px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 25%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}

/* Media query for iphone x*/
@media only screen and (device-height : 812px) {
  body{
    /* The image used */
    background-image: url("../img/entx.jpg");
    /* Set a specific height */
    height:700px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}


/* Media query for iPad*/
@media only screen and (device-height : 1024px) {
  body{
    /* The image used */
    background-image: url("../img/entipad.jpg");
    /* Set a specific height */
    height:700px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 12%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}


/* Media query for iphone x*/
@media only screen and (device-height : 1366px) {
  body{
    /* The image used */
    background-image: url("../img/entipadpro.jpg");
    /* Set a specific height */
    height:700px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 10%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}
