#question2-0, #question2-1, #question2-2, #question2-3{
  display:none;
}
#question3-0, #question3-1, #question3-2, #question3-3, #question3-4, #question3-5, #question3-6, #question3-7{
  display:none;
}
#question4-0, #question4-1, #question4-2, #question4-3, #question4-4, #question4-5, #question4-6, #question4-7,
#question4-8, #question4-9, #question4-10, #question4-11, #question4-12, #question4-13, #question4-14, #question4-15{
  display:none;
}

#question5-0, #question5-1, #question5-2, #question5-3, #question5-4, #question5-5, #question5-6, #question5-7,
#question5-8, #question5-9, #question5-10, #question5-11, #question5-12, #question5-13, #question5-14, #question5-15,
#question5-16, #question5-17, #question5-18, #question5-19, #question5-20, #question5-21, #question5-22, #question5-23,
#question5-24, #question5-25, #question5-26, #question5-27, #question5-28, #question5-29, #question5-30, #question5-31, #win{
  display:none;
}
body {

background-image: url("../img/players.jpg");
background-position: 0% -10%;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;


}

.jumbotron{
  margin-top: 0px;
  height:15px;
  width:450px;
  margin: auto;

  background-image: url("../img/jumbo.jpg");
  background-position: 0% 51%;

  background-size: cover;
  background-repeat: no-repeat;
  color: Gainsboro;
  text-shadow: black 0.9em, 0.9em, 0.9em;
}

.panel{
  align-self: center;
  border: 2px;
  padding: 20px;
  length: 100%;
  color: white;
  font-size: 40px;
  background-color: rgba(0,0,0, 0.7);
}
h4{
  font-size: 60px;
  font-style: normal;
}
#gif{
  height: 280px;
  width: 500px;
}

/* Media query for iphone 6/7/8 */
@media only screen and (min-device-width : 375px) and (max-device-height : 667px) {
  body{
    /* The image used */
    background-image: url("../img/players.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}

/* Media query for Galaxy S5 */
@media only screen and (min-device-width : 360px) and (max-device-height : 640px) {
  body{
    /* The image used */
    background-image: url("../img/fifas5.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}

/* Media query for Pixel 2 & 2XL*/
@media only screen and (min-device-width : 411px) and (max-device-height : 823px) {
  body{
    /* The image used */
    background-image: url("../img/fifapixel2xl.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}

/* Media query for iphone 5 */
@media only screen and (min-device-width : 320px) and (max-device-height : 568px) {
  body{
    /* The image used */
    background-image: url("../img/fifaiphone5.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}

/* Media query for iphone 6/7/8 */
@media only screen and (min-device-width : 375px) and (max-device-height : 667px) {
  body{
    /* The image used */
    background-image: url("../img/players.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}

/* Media query for iphone X*/
@media only screen and (device-height : 812px) {
  body{
    /* The image used */
    background-image: url("../img/players.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}

/* Media query for iPad */
@media only screen and (device-height : 1024px) {
  body{
    /* The image used */
    background-image: url("../img/fifaipad.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 20%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}

/* Media query for iPad Pro*/
@media only screen and (device-height : 1366px) {
  body{
    /* The image used */
    background-image: url("../img/fifaipadpro.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 20%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}


/* Media query for iphone 6/7/8 */
@media only screen and (device-width : 1366px) and (device-height : 768px) {
  body,html{
    height:100%;
    }
    body{
    /* The image used */
    background-image: url("../img/players.jpg");
    /* Set a specific height */
    height:100px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: -5px;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}

/* Media query for Pixel 2 & 2XL*/
@media only screen and (device-width : 720px) and (device-height : 1480px) {
  body{
    /* The image used */
    background-image: url("../img/fifapixel2xl.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}
